
.stuff-bg{
    width: 100%;
    justify-content: center;
    display: flex;
}

ul.grid-img {
    display: flex;
    flex-wrap: wrap;
  }
  
  li.grid-img {
    height: 40vh;
    flex-grow: 1;
  }

  li:last-child.grid-img {
    flex-grow: 10;
  }
  
  img.grid-img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  
  @media (max-aspect-ratio: 1/1) {
    li.grid-img {
      height: 30vh;
    }
  }
  @media (max-height: 480px) {
    li.grid-img{
      height: 80vh;
    }
  }
  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul.grid-img {
      flex-direction: row;
    }
  
    li.grid-img {
      height: auto;
      width: 100%;
    }
    img.grid-img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }