/*
</style> 
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
<link href='https://fonts.googleapis.com/css?family=Quicksand|Cedarville+Cursive|Pacifico' rel='stylesheet' type='text/css'> 
<style> 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background: #D14444;
  overflow: hidden;
  cursor: pointer;
}

#canvas {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9;
}

.sig {
  font-size: 1.5em;
  font-weight: 100;
  font-family: "Cedarville Cursive";
}

.flip-container {
  /*cursor: pointer;*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
  perspective: 800;
  z-index: 8;
}

.flip-container,
.front,
.back {
  width: 400px;
  height: 600px;
}

.flipper {
  transform: perspective(800px);
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  overflow: hidden;
}

.image {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background: white;
  text-align: center;
  padding-top: 20%;
  font-family: "Quicksand";
  font-size: .7em;
  line-height: 150%;
  box-shadow: 0 0 1px rgba(76, 86, 103, 0.25), 0 2px 18px rgba(31, 37, 50, 0.32);
}

.back-flip {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.front-flip {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front {
  z-index: 2;
  box-shadow: 0 0 1px rgba(76, 86, 103, 0.25), 0 2px 18px rgba(31, 37, 50, 0.32);
}
