@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

$cracker--bk-color: #DA1D1B;
.cracker {
  width: 80%;
  height: 5em;
  margin: 5em auto 5em;
  position: relative;
  cursor: pointer;
  &:hover {
    .cracker-left {
      left: -20em;
      left: -8em;
      top: 8em;
      transform: rotate(-15deg);
    }
    .cracker-right {
      right: 20em;
      right: -8em;
      top: 8em;
      transform: rotate(15deg);
    }
  }
}

.cracker-left, .cracker-right {
  //@include transition(all 0.5s ease-in-out);
  transition: all 0.5s ease-in-out;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: $cracker--bk-color;
}

.cracker-left {
  left: 0;
}
.cracker-right {
  right: 0;
}

.cracker-left-inner, .cracker-right-inner {
  position: relative;
  height: 100%;
  width: 100%;
  &:before {
    content: "";
    height: 100%;
    width: 10em;
    background-color: darken($cracker--bk-color, 10%);
    position: absolute;
    z-index: 10;
    border-radius: 50%;
  }
}

.cracker-left-inner {
  &:before {
    left: -5em;
    top: 0;
  }
}

.cracker-right-inner {
  &:before {
    right: -5em;
    top: 0;
  }
}


.cracker-message {
  padding: 15em 0;
  width: 25%;
  margin: 0 auto;
  .cracker-message__inner {
    padding: 10em;
    background: lighten(#d2d2d2, 10%);
    color: darken(#d2d2d2, 40%);
    text-align: center;
    font-size: 13em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Shadows Into Light Two', cursive;
    border: 1px solid lighten(#d2d2d2, 2%);
    box-shadow: 2px 2px 30px #d2d2d2;
  }
}


.cracker-left__tail,
.cracker-left__end,
.cracker-left__body,
.cracker-right__tail,
.cracker-right__end,
.cracker-right__body,
.cracker-left__mask-top,
.cracker-left__mask-bottom,
.cracker-right__mask-top,
.cracker-right__mask-bottom {
  position: absolute;
}

.cracker-left__tail {
  left: 0;
}

.cracker-right__tail {
  right: 0;
}

.cracker-left__tail, .cracker-right__tail {
  width: 20em;
  height: 100%;
  background-color: lighten($cracker--bk-color, 10%);
}
/*
.cracker-left__end, .cracker-right__end {
  width: 20em;
  height: 100%;
  background-color: darken($cracker--bk-color, 10%);
  &:before {
    content: "";
    height: 55em;
    width: 15em;
    background-color: #FFB20F;
    position: absolute;
    top : 21em;
    z-index: 15;
    border: 1em solid darken(#FFB20F, 5%);
    border-radius: 5em;
  }
}
*/
.cracker-left__end {
  left: 20em;
  &:before {
    left: -10em;
  }
}

.cracker-right__end {
  right: 20em;
  &:before {
    right: -10em;
  }
}

.cracker-left__mask-top,
.cracker-left__mask-bottom,
.cracker-right__mask-top,
.cracker-right__mask-bottom {
  z-index: 10;
}

.cracker-left__mask-top,
.cracker-left__mask-bottom,
.cracker-right__mask-top,
.cracker-right__mask-bottom {
  width: 30em;
  height: 12em;
}

.cracker-left__mask-top,
.cracker-left__mask-bottom {
  left: 10em;
}

.cracker-right__mask-top,
.cracker-right__mask-bottom {
  right: 10em;
}
%mask {
  height: 0;
  width: 0;
  border-left: 4.375em solid transparent;
  border-right: 2.375em solid transparent;
  border-top: 4.375em solid white;
}

%mask-2 {
  height: 0;
  width: 0;
  border-left: 4.375em solid transparent;
  border-right: 2.375em solid transparent;
  border-bottom: 4.375em solid white;
}


.cracker-left__mask-top,
.cracker-right__mask-top {
  top: -15em;
}

.cracker-left__mask-top  {
  @extend %mask;
}

.cracker-left__mask-bottom {
  @extend %mask-2;
}
.cracker-right__mask-top {
  //@include transform( rotate(-180deg));
  transform: rotate(-180deg);
  @extend %mask-2;
}

.cracker-right__mask-bottom {
   //@include transform( rotate(-180deg));
   transform: rotate(180deg);
   @extend %mask; 
}

.cracker-left__mask-bottom,
.cracker-right__mask-bottom {
  bottom: -15em;
}

.cracker-left-zigzag {
  position: absolute;
  right: -1px;
  top: 0;
  height: 100%;
  .cracker-left-zigzag__item {
    //@include triangle(em(20), white, left);
    //transform: triangle (20em, white, left);
  }
}


.cracker-right-zigzag {
  position: absolute;
  left: -10em;
  top: 0;
  height: 100%;
  .cracker-right-zigzag__item {
    //@include triangle(em(20), $cracker--bk-color, left);
    //transform: triangle (20em, cracker--bk-color, left);
  }
}

.hover-me-text {
  text-align: center;
  margin-top: 20em;
  font-family: 'Shadows Into Light Two', cursive;
  text-transform: uppercase;
  text-decoration: underline; 
}
