*,h3 {
  font-family: 'Press Start 2P', cursive;
}

.game-board {
  border: solid 2px;
  width: 44em;
  height: 54em;
}

.play-button {
  background-color: #4caf50;
  font-size: 1em;
  padding: 1em 2em;
  cursor: pointer;
}

.tetris-info{
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: arrow;
  white-space: nowrap;
}

.next{
  width: 11em;
  height:auto;
  font-size: large;
}
@media only screen and (max-device-width: 1600px) {
  .tetris-mobile{
    width: 280px !important;
    height: auto !important;
  }
  .game-board {
    border: solid 2px;
    width: 14em;
    height: 24em;
  }
  .next{
    width: 4em;
    height:auto;
    font-size: small;
  }
.tetris-info{font-size: small;}

}
